*.xml
*.exe
*.dll
*.winmd
*.pdb
*.cache
*.pri
*.state
Windows10/StreamSocketUniversalApp/ServerSocket/obj/*
Windows10/StreamSocketUniversalApp/ServerSocket/bin/*
Windows10/CryptoMessage/ClientCrypto/ClientCrypto/obj/*
Windows10/CryptoMessage/ServerCrypto/ServerCrypto/obj/*